<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontenübersicht</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ '/'}}">
            <img src="{{ url_for('static', filename='pictures/go_back.png') }}" alt="Sprache Icon" class="back-img">
        </a>

        <h2>Datenschutz auf Instagram</h2>
        <div class="subtext">
            <p>
                Instagram ist ein datenintensiver Dienst. Dennoch möchten wir deine Privatsphäre bestmöglich schützen. 
                Hier findest du eine kurze Zusammenfassung der wichtigsten Punkte unserer <a href="">Datenschutzrichtlinie</a>.
            </p>
        </div>
        
        
        <div class="sub-content">
            <h4>Löschung von Inhalten:</h4>
            <div class="subtext">
                <p>
                    Nachdem wir eine Löschanfrage erhalten, kann es bis zu 90 Tage dauern, bis der Inhalt vollständig entfernt ist. 
                    Inhalte im Papierkorb werden automatisch nach 30 Tagen gelöscht. Zusätzlich kann es bis zu 90 weitere Tage dauern, 
                    um gelöschte Inhalte aus Sicherungskopien und Notfallwiederherstellungssystemen zu entfernen. 
                    In <a href="">bestimmten Fällen</a> kann die Löschung länger dauern. Datenschutzrichtlinie.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Datenteilung:</h4>
            <div class="subtext">
                <p>
                    Wir geben deine Daten nur an externe Partner weiter, wenn du ausdrücklich zugestimmt hast. Deine Daten werden nicht verkauft.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Datenverarbeitung in den USA:</h4>
            <div class="subtext">
                <p>
                    Da wir ein internationaler Konzern sind, können deine Daten auf US-Servern verarbeitet werden. 
                    Meta ist nach dem <a href="">EU-US Data Privacy Framework</a> zertifiziert, das ein DSGVO-konformes Schutzniveau sicherstellt.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Deine Rechte:</h4>
            <div class="subtext">
                <p>
                    Du kannst bestimmte Datenschutzrechte, wie das <a href=""> Recht auf Information, Datenübertragbarkeit und Löschung </a>, 
                    direkt in deinem Account automatisiert ausüben. So erhältst du schnell eine Rückmeldung, 
                    auch bei hoher Anzahl an Nutzeranfragen.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Datenschutzbeschwerden:</h4>
            <div class="subtext">
                <p>
                    Beschwerden kannst du an deine lokale Datenschutzbehörde richten. 
                    Diese prüft unsere Datenverarbeitung und sorgt für Transparenz und mögliche Korrekturen.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Notwendige Datenverarbeitung:</h4>
            <div class="subtext">
                <p>
                    Instagram verarbeitet deine Daten nur, wenn wir dich vorher darüber informieren. 
                    In unserer Datenschutzrichtlinie erfährst du, welche Daten für die Nutzung des Dienstes erforderlich sind.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Schutz deiner Daten:</h4>
            <div class="subtext">
                <p>
                    Durch entsprechende <a href="">Einstellungen</a> kannst du deine Daten schützen und Instagram sicherer nutzen. Wenn du eine Einwilligung widerrufst, 
                    sind wir gesetzlich verpflichtet, die Verarbeitung der betreffenden Daten sofort einzustellen.
                </p>
            </div>
        </div>

        <button class="button" onclick="redirectTo('/kontenübersicht')">Einstellungen öffnen</button>
    </div>

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>