<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontenübersicht</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ '/'}}">
            <img src="{{ url_for('static', filename='pictures/go_back.png') }}" alt="Sprache Icon" class="back-img">
        </a>

        <h2>Datenschutz auf Instagram</h2>
        <div class="subtext">
            <p>
                Um dein Nutzererlebnis zu verbessern, hast du uns die Einwilligung gegeben, bestimmte Daten zu verarbeiten. 
                Wenn du eine Einwilligung widerrufst, sind wir gesetzlich verpflichtet, die Verarbeitung der betreffenden Daten sofort einzustellen. 
                Hier siehst du alle aktiven Einwilligungen auf einen Blick. Überprüfe, ob du deine Daten weiterhin teilen möchtest. 
            </p>

            <p>
                Zum Widerruf deiner Einwilligung schiebe den Regler nach links. Sind alle Regler auf der linken Seite, 
                werden nur die für die Bereitstellung des Dienstes notwendigen Daten verarbeitet – keine darüber hinaus.
            </p>

        </div>

        <div class="section">
            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Deine Aktivitäten außerhalb von Meta-<br>Technologien</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                
                <div class="subtext">
                    <p>Informationen, die Unternehmen und Organisationen zu deinen Interaktionen mit ihnen an uns übermitteln, werden zukünftig verknüpft. 
                    Cookies helfen uns dabei, den Dienst für dich zu verbessern. <span style="color: blue;">Mehr dazu</span>
                    </p>
                      
                    <p>Einstellungen -> Kontoübersicht -> Deine Informationen und Berechtigungen -> 
                    Deine Aktivität außerhalb von Meta-Technologien -> Künftige Aktivitäten verwalten</p>

                </div>
            </div>

            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Meine Aktivitäten verwenden, um mir <br> Werbung für Meta zu zeigen</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                
                <div class="subtext">
                    <p>Meine Aktivitäten in Meta-Technologien verwenden, um mir Werbung für Meta auf anderen Plattformen zu zeigen. <span style="color: blue;">Mehr dazu</span>
                    </p>
                      
                    <p>Einstellungen -> Kontoübersicht -> Werbepräferenzen -> Einstellungen für Werbung -> Werbung für Meta </p>

                </div>
            </div>
            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Profilbilderweiterung zulassen</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                
                <div class="subtext">
                    <p>Verwende eine größere Version deines Profilbilds, damit du leichter zu erkennen bist. Dein Profilbild ist immer für alle sichtbar. <span style="color: blue;">Mehr dazu</span>
                    </p>
                      
                    <p>Einstellungen -> Konto-Privatsphäre -> Profilbilderweiterung zulassen</p>

                </div>
            </div>

            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Lesebestätigung anzeigen</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                
                <div class="subtext">
                    <p> Andere können dann sehen, wenn du ihre Nachrichten gelesen hast. <span style="color: blue;">Mehr dazu</span>
                    </p>
                      
                    <p>Einstellungen -> Nachrichten und Story-Antworten -> Lesebestätigung anzeigen</p>

                </div>
            </div>
            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Weitere Maßnahmen</span>
                </div>
                
                <div class="subtext">
                    <p>Folgende weitere Maßnahmen stehen dir zur Verfügung, um deine Privatsphäre zu erhöhen:</p>
                    <p>Überprüfe deine Einstellungen zu den <span style="color: blue;">Ordnungsdiensten</span>.</p>
                    <p>Hast du dein Instagram-Konto mit anderen Konten verknüpft? <span style="color: blue;">Hier</span> erfährst du es.</p>
                    <p>Schalte <span style="color: blue;">hier</span> deine Sicherheitswarnungen an.  </p>
                    <p>Führe regelmäßig den <span style="color: blue;">Privatsphäre-Check durch.</span></p>

                </div>
            </div>
        </div>
        
        <button class="button" onclick="window.open('https://help.instagram.com/155833707900388', ' blank')">Datenschutzrichtlinie ansehen</button>
        
    
    </div>

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>