<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontenübersicht</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    
    <div class="container">
        <a href="{{ '/'}}">
            <img src="{{ url_for('static', filename='pictures/go_back.png') }}" alt="Sprache Icon" class="back-img">
        </a>

        <h2>Datenschutz auf Instagram</h2>
        <div class="subtext">
            <p>
                Instagram ist ein datenintensiver Dienst. Dennoch möchten wir deine Privatsphäre bestmöglich schützen. 
                Wir wollen dir die wichtigsten Punkte unseres Datenschutzkonzepts vorstellen:
            </p>
        </div>
        
        
        <div class="sub-content">
            <h4>Löschung von Inhalten:</h4>
            <div class="subtext">
                <p>
                    Nachdem wir eine Löschanfrage erhalten, kann es bis zu 90 Tage dauern, bis der Inhalt vollständig entfernt ist. 
                    Inhalte im Papierkorb werden automatisch nach 30 Tagen gelöscht. Zusätzlich kann es bis zu 90 weitere Tage dauern, 
                    um gelöschte Inhalte aus Sicherungskopien und Notfallwiederherstellungssystemen zu entfernen. 
                    In bestimmten Fällen kann die Löschung länger dauern. Mehr dazu findest du in unserer Datenschutzrichtlinie.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Datenteilung:</h4>
            <div class="subtext">
                <p>
                    Wir geben deine Daten nur an externe Partner weiter, wenn du ausdrücklich zugestimmt hast. Deine Daten werden nicht verkauft.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Datenverarbeitung in den USA:</h4>
            <div class="subtext">
                <p>
                    Da wir ein internationaler Konzern sind, können deine Daten auf US-Servern verarbeitet werden. Meta ist nach dem 
                    <a href="https://www.facebook.com/privacy/policies/data_privacy_framework/version/7047067902038207/" target="_blank">EU-US Data Privacy Framework</a> zertifiziert, das ein DSGVO-konformes Schutzniveau sicherstellt.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Datenschutzrechte:</h4>
            <div class="subtext">
                <p>
                    Jeder Nutzer hast bestimmte Datenschutzrechte, wie das Recht auf Information, Datenübertragbarkeit und Löschung, die er direkt in seinem 
                    Account automatisiert ausüben kann. So sichern wir eine Rückmeldung, auch bei hoher Anzahl an Nutzeranfragen.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Maßnahmen zum Schutz junger Menschen:</h4>
            <div class="subtext">
                <p>
                    Zum Schutz der Daten junger Nutzer ergreifen standardmäßig folgende Maßnahmen: private Konten für junge Nutzer*innen, 
                    erschwerte Auffindbarkeit junger Menschen für potenziell verdächtige Konten, eingeschränktes Werbeanzeigen-Targeting bei Jugendlichen.
                </p>
            </div>
        </div>
        
        <!-- Hier kommt noch Dein Datenschutzlevel hin-->
        <h2>Dein Datenschutz-Level</h2>
        <div class="progress-bar" id="progressBar"></div>
        <div class="status-text">
            <h4 id="statusTitle">Volle Personalisierung</h4>
            <p id="statusDescription" class="subtext">Du hast über 75% der freiwilligen Datenverarbeitungen aktiviert. Du bekommst ein optimiertes Erlebnis durch umfassende Datennutzung.</p>
        </div>

        <div class="sub-content">
            <h4>Schutz deiner Daten:</h4>
            <div class="subtext">
                <p>
                    Wir möchten, dass du mit deinem Datenschutz auf Instagram zurieden bist. Durch entsprechende Einstellungen kann die Datenverarbeitung angepasst werden.
                    Wenn eine Einwilligung widerrufen wird, sind wir gesetzlich verpflichtet, die Verarbeitung der betreffenden Daten sofort einzustellen. 
                    Außerdem stellen wir dir freiwillige Sicherheitswarnungen und den Privatsphäre-Check zu Verfügung, 
                    um die Überpfrüfung des Datenschutzes zu erleichtern.
                </p>
            </div>
        </div>

        <div class="sub-content">
            <h4>Notwendige Datenverarbeitung:</h4>
            <div class="subtext">
                <p>
                    Instagram verarbeitet deine Daten nur, wenn wir dich vorher darüber informieren. 
                    In unserer Datenschutzrichtlinie erläutern wir, welche Daten für die Nutzung des Dienstes erforderlich sind.
                </p>
            </div>
        </div>


        <button class="button" onclick="redirectTo('/kontenübersicht')">Einstellungen öffnen</button>
        <button class="button" onclick="window.open('https://privacycenter.instagram.com/policy', ' blank')">Datenschutzrichtlinie ansehen</button>
    </div>
    
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>