<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontenübersicht</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ '/'}}">
            <img src="{{ url_for('static', filename='pictures/go_back.png') }}" alt="Sprache Icon" class="back-img">
        </a>

        <h2>Datenschutz auf Instagram</h2>
        <div class="subtext">
            <p>
                Um dein Nutzererlebnis zu verbessern, hast du uns die Einwilligung gegeben, bestimmte Daten zu verarbeiten. 
                Du kannst selbst entscheiden, ob du deine Daten weiterhin teilen möchtest. Hier siehst du alle aktiven Einwilligungen auf einen Blick. 
            </p>

            <p>
                Zum Widerruf deiner Einwilligung schiebe den Regler nach links. 
            </p>

        </div>

        <div class="section" id="dataprivacy_section">
            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Deine Aktivitäten außerhalb von Meta-<br>Technologien</span>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                
                <div class="subtext">
                    <p>Informationen, die Unternehmen und Organisationen zu deinen Interaktionen mit ihnen an uns übermitteln, werden zukünftig verknüpft. 
                        Cookies helfen uns dabei, den Dienst für dich zu verbessern. 
                    </p>

                </div>
            </div>

            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Meine Aktivitäten verwenden, um mir <br> Werbung für Meta zu zeigen</span>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>                
                <div class="subtext">
                    <p>Meine Aktivitäten in Meta-Technologien verwenden, um mir Werbung für Meta auf anderen Plattformen zu zeigen. 
                    </p>                      
                </div>
            </div>

            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Profilbilderweiterung zulassen</span>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>                
                <div class="subtext">
                    <p>Verwende eine größere Version deines Profilbilds, damit du leichter zu erkennen bist. Dein Profilbild ist immer für alle sichtbar. 
                    </p>                     
                </div>
            </div>

            <div class="sub-sction-privacy">
                <div class="slider-headline">
                    <span>Lesebestätigung anzeigen</span>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>                
                <div class="subtext">
                    <p> Andere können sehen, wenn du ihre Nachrichten gelesen hast. 
                    </p>
                </div>
            </div>

            <div class="sub-sction-privacy">
                <div class="head_switch">
                    <span>Hier kannst du alle Einwilligungen mit <br> einem Klick abwählen</span>
                    <label class="switch">
                        <input type="checkbox" onclick="toggleAll(this, 'dataprivacy_section')" checked>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="space">
            </div>

            
            <h2>Wo finde ich weitere Informationen zu den Einstellungen?</h2>
            
            <div class="subtext">
                <p>Wähle aus, welche Bereiche des Datenschutzes entscheidend für dich sind und wir zeigen dir, wo du weitere Informationen dazu finden kannst:</p>
            </div>
            
            <div class="toggle-container" onclick="toggleText(0)">
                <span class="arrow">&#9660;</span>
                <span class="headline_hidden">Deine Informationen und Berechtigungen für Meta</span>
            </div>
            <div id="hiddenText0" class="hiddenText hidden">
                Einstellungen - Kontoübersicht - Deine Informationen und Berechtigungen 
            </div>

            <div class="toggle-container" onclick="toggleText(1)">
                <span class="arrow">&#9660;</span>
                <span class="headline_hidden">Werbepräferenzen</span>
            </div>
            <div id="hiddenText1" class="hiddenText hidden">
                Einstellungen - Kontoübersicht - Werbepräferenzen
            </div>

            <div class="toggle-container" onclick="toggleText(2)">
                <span class="arrow">&#9660;</span>
                <span class="headline_hidden">Konto-Privatsphäre</span>
            </div>
            <div id="hiddenText2" class="hiddenText hidden">
                Einstellungen - Wer kann deine Inhalte sehen - Konto-Privatsphäre
            </div>

            <div class="toggle-container" onclick="toggleText(3)">
                <span class="arrow">&#9660;</span>
                <span class="headline_hidden">Sichtbarkeit der eigenen Aktivität</span>
            </div>
            <div id="hiddenText3" class="hiddenText hidden">
                Einstellungen - Wie andere mit dir interagieren können - Nachrichten und Story-Antworten
            </div>

            <h2>Informationen zur allgemeien Datenverarbeitung bei Instagram</h2>
            
            <div class="subtext">
                <p>Wenn du wissen möchtest, welche Datenverarbeitung für unsere Dienste zwingend notwendig ist, 
                    wann deine Daten gelöscht werden und welche Rechte dir nach der DSGVO zustehen, sieh dir unsere Datenschutzrichtlinie an.</p>
            </div>
            
            
        </div>
        
        <button class="button" onclick="window.open('https://privacycenter.instagram.com/policy', ' blank')">Datenschutzrichtlinie ansehen</button>
        
    
    </div>

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }

        function toggleAll(source, containerId) {
            let checkboxes = document.querySelectorAll(`#${containerId} .slider-headline input[type="checkbox"]`);
            checkboxes.forEach(checkbox => {
                checkbox.checked = source.checked;
            });
            updateParentCheckbox(containerId);
        }

        function updateParentCheckbox(containerId) {
            let checkboxes = document.querySelectorAll(`#${containerId} .slider-headline input[type="checkbox"]`);
            let parentCheckbox = document.querySelector(`#${containerId} .head_switch input[type="checkbox"]`);
            parentCheckbox.checked = [...checkboxes].every(checkbox => checkbox.checked);
        }

        function toggleChild() {
            let container = this.closest('.section').id;
            updateParentCheckbox(container);
        }

        document.addEventListener("DOMContentLoaded", () => {
            let childCheckboxes = document.querySelectorAll(".slider-headline input[type='checkbox']");
            childCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", toggleChild);
            });
        });
        function toggleText(index) {
            const hiddenText = document.getElementById('hiddenText' + index);
            const arrow = document.querySelectorAll('.arrow')[index];
            hiddenText.classList.toggle('hidden');
            arrow.style.transform = hiddenText.classList.contains('hidden') ? 'rotate(0deg)' : 'rotate(180deg)';
        }
    </script>
</body>
</html>