<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einstellungen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    

    <div class="container">
        <a href="{{ '/informationen_berechtigungen'}}">
            <img src="{{ url_for('static', filename='pictures/go_back.png') }}" alt="Sprache Icon" class="back-img">
        </a>
        
        <h2>Hier bist du falsch. Versuche es auf einem anderen Unterpunkt.</h2>
    </div>
</body>
</html>